---
---
@charset "utf-8";
@import "normalize";

$base-font-family: Proxima Nova, Helvetica, Arial, sans-serif;

$background-color: #fcfaf4;
$accent-bg-color:  #ff685d;
$accent-fg-color:  darken($accent-bg-color, 10%);
$brown-color:      #a98;
$text-color:       darken($brown-color, 30%);

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Reg.eot');
  src: url('/fonts/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Reg.svg#font') format('svg'),
  url('/fonts/ProximaNova-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Thin.eot');
  src: url('/fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Thin.svg#font') format('svg'),
  url('/fonts/ProximaNova-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

body {
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

svg {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

a {
  color: $brown-color;
  text-decoration: none;
  transition: color 0.1s;

  svg path {
    fill: $brown-color;
    transition: fill 0.2s;
  }

  &:hover {
    color: $accent-fg-color;

    svg path {
      fill: $accent-bg-color;
    }
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 3%;
}

header {
  background-color: $accent-bg-color;
  padding: 1em 0;
  font-size: 1.3em;
  text-align: center;

  nav {
    display: block;
    margin: 1em auto;

    a {
      display: inline-block;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      padding: 1em 2em;
      transition: background-color 0.1s;
      &:hover {
        color: black;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .site-title {
    display: inline-block;
    text-align: center;
    margin: 0.5em auto 0 auto;
    font-size: 4em;
    letter-spacing: -1px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
  }

  p {
    margin: 1em 0 2em 0;
    font-size: 1.8em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }

  em {
    color: black;
  }
}

hr {
  display: block;
  width: 5em;
  margin: 1em auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3px;
}

.site-footer {
  padding: 2em 0;
  text-align: center;

  a {
    padding: 1em;
    display: inline-block;
  }
}

.skills {
  padding: 4em 0;
  overflow: hidden;
  text-align: center;
}

.skill {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 2em 0;

  h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 2em 0 0 0;
  }

  svg {
    width: 96px;
    height: 96px;
    path, rect {
      fill: $brown-color;
    }
  }
  h2 {
    color: darken($brown-color, 10%);
  }
}

// @include media-query($on-laptop) {
//   font-size: 18px;
// }
