<header>
  <nav>
    <a href="#work">Work</a>
    <a href="#skills">Skills</a>
    <!-- <a href="#">Experience</a> -->
  </nav>
  <div class="site-title">Adrien Jarthon</div>
  <hr>
  <p>I'm a full stack <em>web&nbsp;developper</em>,<br />also passionate about&nbsp;<em>design</em>.</p>
</header>
