@import "normalize";

$base-font-family: Proxima Nova, Helvetica, Arial, sans-serif;

$background: #fcfaf4;
$red: #ff685d;
$brown: #a98;
$text-color: darken($brown, 30%);

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Reg.eot');
  src: url('/fonts/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Reg.svg#font') format('svg'),
  url('/fonts/ProximaNova-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Thin.eot');
  src: url('/fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ProximaNova-Thin.svg#font') format('svg'),
  url('/fonts/ProximaNova-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

body {
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  background-color: $background;
  min-width: 320px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: 4em;
}

h2.suspended {
  font-weight: 300;
  text-transform: uppercase;
  color: $red;
  margin: -1.41em 0 0.8em 0;
}

svg {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

a {
  color: $red;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;

  svg path {
    fill: $red;
    transition: fill 0.2s;
  }

  &:hover {
    color: $red;

    svg path {
      fill: $red;
    }
  }
}

header {
  background-color: $red;
  padding: 1em 0;
  font-size: 1.3em;
  text-align: center;

  nav {
    display: block;
    margin: 1em auto;

    a {
      display: inline-block;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      padding: 1em 2em;
      transition: background-color 0.1s;
      &:hover {
        color: black;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .site-title {
    display: inline-block;
    text-align: center;
    margin: 0.5em auto 0 auto;
    font-size: 4em;
    letter-spacing: -1px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }

  p {
    margin: 1em 0 2em 0;
    font-size: 1.8em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }

  em {
    color: black;
  }
}

hr {
  display: block;
  width: 5em;
  margin: 1em auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 3px;
}

footer {
  padding: 2em 0;
  text-align: center;

  a {
    padding: 1em;
    display: inline-block;
  }
}

#skills {
  padding: 4em 0;
  text-align: center;
  position: relative;
  background-color: $red;

  h2 {
    color: $background;
  }
}

.skill {
  display: inline-block;
  width: 10em;
  text-align: center;
  padding: 2em 0;

  h3 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 2em 0 0 0;
  }

  svg {
    width: 48px;
    height: 48px;
    path, rect {
      fill: rgba(0, 0, 0, 0.6);
    }
  }
  h2 {
    color: darken($red, 10%);
  }
}

#work {
  padding: 4em 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.grid {
  overflow: hidden;
  padding: 2px 3%;
}

.grid-1 {
  clear: both;
  margin-bottom: 3%;
}

.grid-2 {
  float: left;
  width: 48.5%;
  margin-bottom: 3%;
}

.grid-2 + .grid-2 {
  margin-left: 3%;
}

.projects a:focus {
  outline: 2px solid white;
}

.project {
  color: rgba(0, 0, 0, 0.6);
  padding: 8% 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s;

  h3, p {
    display: block;
    margin: 0;
    text-align: center;
  }

  h3 {
    font-size: 4em;
    font-weight: 300;
    line-height: 1.1;
  }

  p {
    font-size: 1.2em;
    &:before {
      content: '';
      display: block;
      width: 5em;
      margin: 1em auto;
      border: none;
      background-color: rgba(0, 0, 0, 0.6);
      height: 3px;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &.dark {
    text-shadow: 0 0 10px black;
    color: white;
    p:before {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  &.updown {
    background: #222 url('/images/updown-back.jpg') no-repeat top center;
    background-size: cover;
  }

  &.defuzeme {
    background: #222 url('/images/defuzeme.png') no-repeat top center;
    background-size: cover;
  }
}

@include media-query(950px) {
  .grid-2 {
    float: none;
    width: auto;
    margin-bottom: 3%;
  }

  .grid-2 + .grid-2 {
    margin-left: inherit;
  }
}

@include media-query(550px) {
  body {
    font-size: 13px;
  }

  header .site-title {
    font-size: 3em;
  }
}
