<div id="work">
  <h2 class="suspended">work</h2>
  <div class="wrapper projects grid">
    <div class="grid-1">
      <a href="https://updown.io" target="blank">
        <div class="project dark updown">
          <h3>updown.io</h3>
          <p>
            A website monitoring service (like Pingdom)<br/>
            with a clean UI and a cheap pricing.
          </p>
        </div>
      </a>
    </div>

    <div class="grid-2">
      <a href="https://github.com/intrepidd/working_hours" target="blank">
        <div class="project working_hours">
          <h3>working hours</h3>
          <p>
            A modern ruby gem allowing to do time<br />
            calculation with business / working hours.
          </p>
        </div>
      </a>
    </div>

    <div class="grid-2">
      <a href="http://softfocus.me" target="blank">
        <div class="project softfocus">
          <h3>softfocus.me</h3>
          <p>
            A very simple website allowing you to<br />
            apply softfocus effect to your pictures.
          </p>
        </div>
      </a>
    </div>

    <div class="grid-1">
      <a href="http://defuzeme.herokuapp.com" target="blank">
        <div class="project dark defuzeme">
          <h3>defuze.me</h3>
          <p>
            A complete radio automation suite<br/>
            designed for simplicity.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>